.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.nav{
  background-color: orange;
  padding:2%;
  margin:2% 0;
  display:flex;
  justify-content: space-around;
}

.nav a{
  color:black;
  font-weight: bolder;
  text-decoration: none;
}


.login-form{
  width:90%;
  padding:2%;
  margin:2% auto;
  display:flex;
  justify-content: space-around;
}

form ::placeholder{
  color: black;
  padding:5px;
  background-color: orange;
}

button{
  padding:5px 10px;
  border-radius:4px;
  background-color: orange;
  color:black;
  min-width: fit-content;
  font-weight: bolder;
}

.add-friend{
  width:70%;
  padding:2%;
  margin:2% auto;
  display:flex;
  justify-content: space-around;
}
.friend-list{
  
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}


.friend-card{
  width: 270px;
  height: 250px;
  margin: 20px;
  box-shadow: 10px 10px 5px grey;
  border-radius: 5%;
  border: 10px solid orange;
  padding: 15px;
  background-color: oldlace;
  
  
}